{% extends 'base.html'%}

{% block content %}

<form  method="POST">

  {{form.hidden_tag()}}
  <div class="container">
    {{form.email.label(class='form-control-label')}}
    {{form.email(class='form-control form-control-lg')}}<br>
  </div>
  <div class="container">
    {{form.username.label(class='form-control-label')}}
    {{form.username(class='form-control form-control-lg')}}<br>
  </div>
  <div class="container">
    {{form.password.label(class='form-control-label')}}
    {{form.password(class='form-control form-control-lg')}}<br>
  </div>
  <div class="container">
    {{form.pass_confirm.label(class='form-control-label')}}
    {{form.pass_confirm(class='form-control form-control-lg')}}<br>
  </div>
    {{form.submit()}}
</form>

{% endblock %}
